/* always put this  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ................. */

.cointainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.box {
  flex: 1;
  width: 200px;
  height: 200px;
  background-color: gray;
}
.cointainer :nth-child(odd) {
  background-color: lightcoral;
}
