body{
    background-color:rgb(216, 216, 216);
}
.ID{
    width: 400px;
    padding: 14px;
    background-color: white;
    margin:20px ;
    border-radius: 15px;


}
.header{
    background-color :lightslategray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.image img{
    
    width: 100%;
    height: 400px;
    
    
}

.details{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.foot{
    text-align: center;
}