body{
    background-color:rgb(216, 216, 216);
}
.ID{
    
    padding: 14px;
    background-color: white;
    
    margin:4px ;


}
.header{
    background-color :lightslategray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.image{
    text-align: center;
}

.details{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.foot{
    text-align: center;
}